:root {
  --primary-color: #654321;
  --secondary-color: #fff;
  --tertiary-color: #000;
  --primary-color-light: #fefcf3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

/* Loading Animation */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: var(--secondary-color);
  animation: loading 1s ease-in-out infinite;
}

.circle:nth-child(1) {
  animation-delay: 0.4s;
}

.circle:nth-child(2) {
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  animation-delay: 0s;
}

@keyframes loading {
  0% {
    transform: scale(0.5);
    opacity: 0.2;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.2;
  }
}

/*Auth*/
#logado {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#usuarioLogado {
  color: var(--primary-color);
}

#esqueciSenha {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

#esqueciSenha:hover {
  opacity: 0.8;
}

/* Container */
.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  flex: 1;
}

.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  gap: 10px;
  flex-wrap: wrap;
}

/* Header */
h1 {
  font-family: "Special Elite", system-ui;
  font-size: 48px;
  font-weight: 600;
  margin: 20px auto;
  color: var(--primary-color);
}

/* Forca */
#forca {
  position: relative;
  margin: 20px auto;
  width: 200px;
  height: 300px;
}

.base,
.poste,
.barra,
.haste {
  background-color: var(--primary-color);
  border-radius: 5px;
}

.base {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 10px;
}

.poste {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 10px;
  height: 100%;
}

.barra {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 10px;
}

.haste {
  position: absolute;
  top: -2px;
  left: 38px;
  width: 10px;
  height: 50px;
  transform: rotate(45deg);
  border-radius: 0;
}

.corda {
  position: absolute;
  top: 10px;
  left: 180px;
  width: 5px;
  height: 50px;
  background-color: #ccc;
}

.cabeca,
.corpo,
.braco-esq,
.braco-dir,
.perna-esq,
.perna-dir {
  border-radius: 5px;
}

.cabeca {
  position: absolute;
  top: 60px;
  left: 162.5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid var(--tertiary-color);
}

.corpo {
  position: absolute;
  top: 97px;
  left: 180px;
  width: 5px;
  height: 70px;
  background-color: var(--tertiary-color);
}

.braco-esq,
.braco-dir,
.perna-esq,
.perna-dir {
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: var(--tertiary-color);
}

.braco-esq {
  top: 110px;
  left: 149px;
  transform: rotate(-45deg);
}

.braco-dir {
  top: 110px;
  left: 176px;
  transform: rotate(45deg);
}

.perna-esq {
  top: 175px;
  left: 149px;
  transform: rotate(-45deg);
}

.perna-dir {
  top: 175px;
  left: 176px;
  transform: rotate(45deg);
}

/*Estilo da tabela top 10*/
#top10-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

#top10-table .table-header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

#top10-table .table-header th {
  font-size: 20px;
  line-height: 2;
}

#top10-table .table-row {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

#top10-table .table-row td {
  font-size: 16px;
  line-height: 1.5;
}

#top10-table .table-row td:first-child {
  font-weight: bold;
  font-size: 24px;
  vertical-align: middle;
}

#top10-table .table-row:nth-child(even) {
  background-color: var(--primary-color-light);
}

#top10-table .table-row.highlight {
  background-color: #ffd700;
  font-weight: bold;
}

#top10-table .table-row.highlight-first {
  background-color: #ffe699;
  font-weight: bold;
}

#top10-table .table-row.highlight-second {
  background-color: #d6eaf8;
  font-weight: bold;
}

#top10-table .table-row.highlight-third {
  background-color: #f5d6ba;
  font-weight: bold;
}

/* Botões */
button,
.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

button:hover:not(:disabled),
.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  background-image: none;
}

#reiniciarJogo,
#btnLogout {
  display: none;
}

#teclado,
.teclado-linha,
.teclado-completo {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.teclado-completo {
  display: none;
}

#teclado button {
  margin: 5px;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  font-weight: 900;
}

#teclado button.correta {
  border-color: #4caf50;
  background-color: #4caf50;
  color: var(--secondary-color);
}

#teclado button.errada {
  border-color: #f44336;
  background-color: #f44336;
  color: var(--secondary-color);
}

#teclado button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Textos */
#Pontuações {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  color: var(--primary-color);
  font-weight: 600;
}

#Pontuações p {
  margin: 10px 0;
}

#jogo {
  color: var(--primary-color);
}

#palavra {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 10px;
  margin: 20px 0;
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  gap: 10px;
}

footer a {
  cursor: pointer;
  margin: 0 auto;
  color: var(--secondary-color);
}

footer a:hover {
  color: #ddd;
}

footer img {
  height: 50px;
}

footer p {
  font-size: 14px;
}

/*swal alert*/
.swal2-container {
  width: 100% !important;
  height: 100% !important;
  background-color: #654321ad !important;
}

.swal2-toast {
  width: 360px !important;
}

.swal2-title {
  font-size: 24px;
  font-weight: 600;
  margin: 20px auto;
  color: var(--primary-color);
}

.swal2-timer-progress-bar {
  background-color: var(--primary-color) !important;
}

.swal2-loader {
  border-color: var(--primary-color) rgba(0, 0, 0, 0) var(--primary-color)
    rgba(0, 0, 0, 0);
}

.swal2-validation-message::before {
  background-color: var(--primary-color) !important;
}

.swal2-close {
  box-shadow: none !important;
}

.swal2-close:hover {
  color: var(--primary-color) !important;
  box-shadow: none !important;
}

.custom-icon-class {
  color: var(--primary-color) !important;
  border: none !important;
}

.swal2-icon {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.swal2-icon-success {
  border-color: var(--primary-color) !important;
}

.swal2-icon-success .swal2-success-line-tip,
.swal2-icon-success .swal2-success-line-long {
  background-color: var(--primary-color) !important;
}

.swal2-icon-success .swal2-success-ring {
  border-color: var(--primary-color) !important;
}

.swal2-icon-error {
  border-color: var(--primary-color) !important;
}

.swal2-icon-error .swal2-x-mark-line-left,
.swal2-icon-error .swal2-x-mark-line-right {
  background-color: var(--primary-color) !important;
}

.swal2-icon-warning {
  border-color: var(--primary-color) !important;
}

.swal2-icon-warning .swal2-warning-body,
.swal2-icon-warning .swal2-warning-dot {
  background-color: var(--primary-color) !important;
}

.swal-icon--warning__dot {
  background-color: var(--primary-color) !important;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 20px;
}

.form-label {
  color: var(--primary-color);
  font-weight: bold;
}

.swal2-input {
  border-color: var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  display: block;
  width: 100%;
  font-weight: bold;
  margin: 0 auto;
}

.swal2-input:focus,
.swal2-input:focus-visible {
  box-shadow: none;
  outline: none;
  border: 2px solid var(--primary-color);
}

.form-check {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
}

.categoria-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.categoria-checkbox:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--secondary-color);
}

.categoria-checkbox:checked::before {
  content: "\2713";
  color: var(--secondary-color);
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-check input:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.conquista-text {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.5;
}

.conquista-title {
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
}

.conquista-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
  padding: 5px;
}

.conquista-item:first-child {
  border-top: 1px solid var(--primary-color);
}

.conquista-item:nth-child(even) {
  background-color: var(--primary-color-light);
}

.conquistado {
  color: var(--primary-color);
}

.progress-bar-conquista {
  background: linear-gradient(to right, var(--primary-color), #d4a017, #e0cda9);
}

.contador-conquistas {
  text-align: end;
}

/* Estilo Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color-light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 2px solid var(--primary-color-light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* Responsividade */
@media screen and (max-width: 700px) {
  .buttonText {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .teclado-completo {
    display: flex;
  }

  .teclado-linha {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    margin-top: 0;
  }

  #teclado button {
    width: 30px;
    height: 30px;
  }
}

/* Estilos para modo escuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--secondary-color);
  }
}
